<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer-Blog</title>
    <link rel="shortcut icon" href="https://www.flaticon.com/svg/static/icons/svg/141/141073.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/layout.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0/css/bulma.min.css">
    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <!-- Bulma-Social -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
      <div class="navbar-start">
       <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item"href="/about">
        About
      </a>
      <a class="navbar-item" href="/contact">
        Contact
      </a> 
      <a class="navbar-item" href="/blogs">
        Blogs
      </a> 
      {{#if isLoggedIn}}
      <a class="navbar-item" href="/create-blogpost">
        Create Blogpost
      </a> 
      {{/if}}
      {{#if isLoggedIn}}
      <a class="navbar-item" href="/messages">
        Messages
      </a> 
      {{/if}}
      
      
</div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#unless isLoggedIn}}
            <a class="button is-warning" href="/login">
              <strong>Log in</strong> 
            </a>
          {{/unless}}
          {{#if isLoggedIn}}
          <form action="/logout" method="post">
            <input class="button is-dark" type="submit" value="Log out">
            </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
       <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item"href="/about">
        About
      </a>
      <a class="navbar-item" href="/contact">
        Contact
      </a> 
      <a class="navbar-item" href="/blogs">
        Blogs
      </a> 
      {{#if isLoggedIn}}
      <a class="navbar-item" href="/create-blogpost">
        Create Blogpost
      </a> 
      {{/if}}
      {{#if isLoggedIn}}
      <a class="navbar-item" href="/messages">
        Messages
      </a> 
      {{/if}}
      
</div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#unless isLoggedIn}}
            <a class="button is-warning" href="/login">
              <strong>Log in</strong> 
            </a>
          {{/unless}}
          {{#if isLoggedIn}}
          <form action="/logout" method="post">
            <input class="button is-dark" type="submit" value="Log out">
            </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
    <main>
        {{{body}}}
    </main>

   <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Made by Yevheniy Zanichkovskyy</strong>
    </p>
    <a class="button is-medium is-github" href="https://github.com/Yevve">
    <span class="icon">
      <i class="fab fa-github fa-lg"></i>
    </span>
</a>
<a class="button is-medium is-warning" href="https://www.facebook.com/yevheniy.zanichkovskyy">
    <span class="icon">
      <i class="fab fa-facebook fa-lg"></i>
    </span>
</a>
<a class="button is-medium is-github" href="https://twitter.com/A_v_v_I">
    <span class="icon">
      <i class="fab fa-twitter fa-lg"></i>
    </span>
</a>
  </div>
</footer>

</body>
</html>