<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container-is-left">
      <h1 class="title">
       <strong>About</strong> 
      </h1>

<div class="block">
  This website is my gamer-blog.
</div>
<div class="block">
    Here you can find my reviews, gameplay and guides of diffrent games.
</div>
    </div>
  </div>
</section>