<section class="hero is-dark is-fullheight is-bold">
  <div class="hero-body">
    <div class="container is-centered has-background-grey-dark">
      <div class="content has-text-justified is-large">
          bajs

  </div>
  </div>
  </div>
</section>