<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container-is-left">
      <h1 class="title">
        blog page
      </h1>
      <h2 class="subtitle">
        This is my blog
      </h2>
    </div>
  </div>
</section>