<section class="hero is-large is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Contact me:
      </h1>
        {{#if validationErrors.length}}
  <p>Could not send message</p>
  <ul>
      {{#each validationErrors}}
      <li>{{this}}</li>
      {{/each}}
  </ul>
  {{/if}}
      <form action="" method="post">
<div class="field is-right">
  <div class="control">
    <textarea required input="text" name="message" class="textarea is-large is-warning" placeholder="Your message"></textarea>
  </div>
</div>
<div class="control">
  <button type="submit" class="button is-warning is-pulled-right">Submit</button>
</div>
</form>
    </div>
  </div>
</section>