<h1>Create Post</h1>
<form action="" method="post">
<div>
    Title: <input type="text" name="title">
</div>
<div>
    Post: <input type="text" name="blogpost">
</div>
<input type="submit" value="Create Post">

</form>
