<section class="hero is-large is-dark is-bold">
  <div class="hero-body">
    <div class="container">
<h1 class="title">Create Post</h1>
{{#if validationErrors.length}}
<p>Could not create a blog</p>
<ul>
    {{#each validationErrors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
<form action="" method="post">
<div>
    Title: <input required type="text"class="input is-normal is-warning" name="title" value="{{title}}">
</div>
<div>
    Post: <textarea required class="textarea is-large is-warning" input="text" name="blogpost" value="{{blogpost}}"></textarea>
</div>
<input type="submit" class="button is-warning" value="Create Post">

</form>
</div>
  </div>
</section>
