<section class="hero is-large is-dark is-bold">
  <div class="hero-body">
    <div class="container">
<div class="columns">
   <h1 class="title is-">Login page:</h1> 
  <div class="column is-one-third is-pulled-left"></div>

<form action="" method="post">
    <div>
        Username: <input required type="text" class="input is-warning" name="username">
    </div>
    <div>
        Password: <input required type="password"  class="input is-warning" name="password">
    </div>
    <input type="submit" class="button is-warning"value="Loging">
</form>

  <div class="column"></div>
  <div class="column"></div>
</div>
</div>
</div>
</section>