<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container-is-left">
      <h1 class="title">
        Home page
      </h1>
      <h2 class="subtitle">
        This is my homepage
      </h2>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MAOZPgT8kic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>