<section class="hero is-large is-dark is-bold">
  <div class="hero-body">
    <div class="container">
<h1>Update Message</h1>
{{#if validationErrors.length}}
<p>Could not send a message</p>
<ul>
    {{#each validationErrors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
<form action="" method="post">
    <div>
    Message:<textarea required class="textarea is-large is-warning" input="text" name="message" >{{message.message}}</textarea>
    </div>
    <input  type="submit"class="button is-warning"value="Update">
</form>
</div>
  </div>
</section>